/* regole generali e regole valide per risoluzione fino a 480px */
:root {
    --bg-purple: #9792E4;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
}
nav {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #0082F9;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .nav-item {
    min-height: 40px;
}
nav .nav-item:last-child {
    line-height: 40px;
}
nav .nav-item img {
    width: 100%;
}
.hidden-nav-container {
    display: none;
}
#hero-banner {
    width: 100%;
    padding: 2.5rem 0 2rem 0;
}
#hero-banner h3 {
    color: #0082F9;
    margin: 20px 0;
}
#hero-banner p, #par {
    font-weight: 550;
    font-size: 14px;
    color: #5A6E7F;
    line-height: 1.5rem;
}
#par {
    font-style: normal;
}
.container {
    width: 100%;
}
.row {
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 25px;
}
.col {
    flex-basis: 100%;
}
.column-flex {
    display: flex;
    flex-direction: column;
}
#first-column-item {
    padding: 35px 12px 30px 25px;
}
.column-item h3 {
    margin-bottom: 25px;
}
.column-item p {
    margin-bottom: 25px;
}
.column-item img {
    width: 100%;
    height: 100%;
}
.icon {
    width: 70px;
    margin: auto;
}
.icon svg {
    color: #0082F9;
    fill: currentColor;
}
.card-primary {
    border-radius: 25px;
    background-color: #B5DDFF;
    padding: 30px 15px;
}
.card-white {
    background-color: white;
    padding: 40px 20px 35px 20px;
    border-radius: 30px;
}
.img-card-white {
    width: 100%;
}
.div-white-card {
    padding: 15px 7px 10px;
}
.div-white-card p {
    font-style: italic;
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 25px;
}
.txt-center {
    text-align: center;
}
.button {
    display: inline-block;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    font-size: medium;
    text-align: center;
}
.btn-white {
    background-color: white;
    color: black;
    padding: 18px 15px;
    line-height: 0;
}
.btn-more {
    background-color: var(--bg-purple);
    color: white;
    padding: 7px 25px;
}
.btn-started {
    background-color: white;
    color: var(--bg-purple);
    padding: 15px 40px;
}
.btn-li {
    background-color: var(--bg-purple);
    color: white;
    padding: 7px 10px;
}
.btn-purple {
    background-color: var(--bg-purple);
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
}
.btn-purple i {
    padding-top: 2px;
}
.btn-blue {
    background-color: #0082F9;
    color: white;
    padding: 10px 30px;
}
.button.btn-blue i {
    padding-right: 3px;
}
.purple-title {
    color: var(--bg-purple);
    margin-top: 15px;
}
.caption {
    text-transform: uppercase;
    font-size: 15px;
}
.col-short {
    padding: 3rem 1rem;
}
.flex-card {
    background-color: var(--bg-purple);
    padding: 25px 5px 15px 5px;
    border-radius: 40px;
}
.flex-card i {
    padding: 5px;
}
.col-caption {
    padding: 8px;
    color: white;
}
.col-caption p {
    text-align: center;
    padding: 0 15px;
    line-height: 1.5rem;
    margin-bottom: 20px;
}
.col-caption h4 {
    text-transform: uppercase;
    text-align: center;
}
#benefits {
    color: white;
    text-align: center;
    padding: 0 30px;
    line-height: 2.1rem;
}
.img-container {
    padding: 0 10px;
}
.img-container img {
    width: 100%;
    margin-bottom: 50px;
}
.cap {
    color: white;
    padding: 7px;
}
.cap p {
    margin-top: 25px;
    font-size: 14px;
    line-height: 1.5rem;
}
.purple-section {
    background-color: var(--bg-purple);
    width: 100%;
    padding: 1rem 0 2rem;
}
.img-container-rounded {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
}
.quote {
    color: var(--bg-purple);
    position: absolute;
    top: 10px;
    right: 10px;
}
.quote i {
    font-size: 3rem;
}
.img-rounded {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}
.img-container-about {
    margin: 0;
}
.number {
    font-size: 34px;
    font-weight: bold;
    color: var(--bg-purple);
}
.subtitle {
    color: var(--bg-purple);
    margin: 30px 0;
}
.second-caption {
    line-height: 1.5rem;
    color: gray;
    margin-bottom: 25px;
}
.standard-section {
    width: 100%;
    padding: 3rem 0 2rem;
}
#about-title, #img-title {
    color: var(--bg-purple);
    margin-top: 10px;
}
#img-title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-about {
    padding: 20px;
}
.st-section-par {
    line-height: 1.5rem;
    padding-top: 30px;
    padding-bottom: 30px;
}
p.st-section-par:last-child {
    padding-top: 15px;
    padding-bottom: 15px;
}
#get-started {
    text-transform: uppercase;
    color: lightgrey; 
}
.last-card {
    text-align: center;
    padding: 20px;
}
#last-section-title {
    color: white;
    margin-top: 15px;
    margin-bottom: 25px;
}
#large-title {
    font-size: 40px;
    color: #FDC15F;
    font-weight: bold;
}
.last-section-par {
    color: white;
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
#copyright {
    font-size: 14px;
    color: white;
    margin-top: 20px;
}
#copyright span {
    text-decoration: underline;
}
#copyright i {
    font-size: 5px;
}
#circle1 {
    position: relative;
    bottom: 1.5px;
}
#circle2 {
    position: relative;
    bottom: 2px;
}
footer {
    width: 100%;
    padding: 2rem 1rem;
    background-color: #333333;
}
.container-foot {
    padding: 1rem 0;
    text-align: center;
    color: white;
}
.container-foot p {
    font-size: 14px;
    padding: 8px;
}
.container-foot div {
    margin-top: 45px;
    font-size: 14px;
    padding: 8px;
}
.container-foot div a {
    color: #9792E3;
}
.item-padding-zero {
    padding: 0;
}
/* media queries */
/* tablet da un minimo di 481px */
@media screen and (min-width: 481px) {
    nav {
        padding: 0.5rem 2rem;
    }
    .row {
        padding: 0 2rem;
    }
    #phone-item img {
        max-width: 250px;
        max-height: 310px;
    }
    .column-item {
        flex-grow: 1;
    }
    .tablet-margin {
        margin: 0 10px;
    }
    .col-short {
        padding: 1.5rem 2rem;
    }
    footer {
        padding: 2rem;
    }
    .col-tablet-2-3 {
        flex-basis: calc(((100% / 3) * 2) - (10px * 2));
        flex-grow: 1;
    }
    .col-tablet-1-3 {
        flex-basis: calc((100% / 3) - (10px * 2));
        flex-grow: 1;
    }
    #about-title {
        font-size: 35px;
    }
    .flex-card {
        display: flex;
        flex-direction: row;
    }
    .col-img {
        flex-basis: 30%;
        flex-grow: 1;
    }
    .col-caption {
        flex-basis: 70%;
        flex-grow: 1;
    }
    .col-tablet-1-2 {
        flex-basis: calc(50% - (10px * 2));
        flex-grow: 1;
    }
    .container-foot {
        max-width: 500px;
        margin: auto;
    }
}
/* desktop da un minimo di 768px */
@media screen and (min-width: 768px) {
    nav, #hero-banner .row, .container-desktop {
        max-width: 884px; /* misura massima a cui sommo 2rem per lato di padding */
        margin: auto;
    }
    nav .nav-item:first-child {
        margin-left: 10px;
    }
    .nav-container {
        width: 100%;
        background-color: #0082F9;
    }
    nav .nav-item:last-child {
        margin-right: 10px;
    }
    #first-section .row {
        width: 85%;
        margin: auto;
    }
    .col-big-desktop {
        display: flex;
        flex-direction: row;
    }
    .column-item {
        flex-basis: 50%;
        flex-grow: 1;
    }
    #phone-item {
        position: relative;
    }
    #phone-item img {
        position: absolute;
        bottom: 0;
        width: 250px;
        height: 290px;
        max-width: 250px;
        max-height: 290px;
    }
    .col-desktop-1-2 {
        flex-basis: calc(50% - (15px * 2));
        flex-grow: 1;
    }
    .col-desktop-1-2-margin {
        margin: 0 15px;
    }
    .sec-desktop-padding {
        padding: 200px 0 2rem;
    }
    .img-container img {
        position: relative;
        top: -90px;
    }
    .purple-title {
        margin-top: 35px;
    }
    #par {
        margin-top: 35px;
        margin-bottom: 30px;
    }
    .col-desktop-1-3 {
        flex-basis: calc((100% / 3) - (10px * 2));
        flex-grow: 1;
    }
    .col-desktop-about-us {
        flex-basis: 60%;
        flex-grow: 1;
    }
    .col-desktop-img {
        flex-basis: 40%;
        flex-grow: 1;
    }
    .fifth-section-row {
        justify-content: center;
    }
    .fifth-section-col {
        flex-basis: 60%;
    }
    footer .container-foot {
        width: 50%;
        margin: auto;
    }
    div.nav-item i {
        display: none;
    }
    .hidden-nav-container {
        display: block;
    }
    .hidden-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .hidden-item {
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}